<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login to Post</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body class="sanmarino">
	<div class="card2">
		<form method="POST" action= "/login" id="login">
			<input type="text" name="username" class="loginBox" placeholder="Username" required="True">
			<br>
			<br>
			<input type="password" name="password" class="loginBox" placeholder="Password" required="True">
			<br><br>
			<input type="submit" name="submit" class="loginButton">
		</form>
	</div>
</body>
</html>